<h1>Web scrapper</h1>
<% simple_form_for @search do |f| %>
    <%= f.input :company, placeholder: 'Enter company name' %>
    <%= f.input :siret, placeholder: 'enter siret' %>
    <%= f.button :submit %>
<% end %>

