<!DOCTYPE html>
<html>
<head>
  <title>WebScrapping</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<style>
  .container { position:relative; padding:0 0 0 55px; }
  #sidebar {
    position:absolute;
    top:0; bottom:0; left:0;
    width:50px;
  }

  #header {
  }
  #content {
  }
  #footer {
  }
</style>

<div id="page">
  <div class="container">
    <div id="sidebar"></div>
    <div id="header">
      <h1>Web scrapper</h1>
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer"></div>
  </div>
</div>


</body>
</html>
